### Carga y preparación de datos

In [ ]:
import polars as pl
import polars.selectors as cs

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import joblib
import os

In [2]:
# carga de datos con polars

df_polars = pl.read_parquet("..//data//raw//sample_data_0006_part_00.parquet")

# Eliminacion de duplicados
df_polars = df_polars.unique()
df_polars.head(3)

shape: (3, 8)
┌────────────┬────────────┬────────────┬───────────┬───────────┬───────────┬───────────┬───────────┐
│ merchant_i ┆ _id        ┆ subsidiary ┆ transacti ┆ account_n ┆ user_id   ┆ transacti ┆ transacti │
│ d          ┆ ---        ┆ ---        ┆ on_date   ┆ umber     ┆ ---       ┆ on_amount ┆ on_type   │
│ ---        ┆ str        ┆ str        ┆ ---       ┆ ---       ┆ str       ┆ ---       ┆ ---       │
│ str        ┆            ┆            ┆ datetime[ ┆ str       ┆           ┆ decimal[2 ┆ str       │
│            ┆            ┆            ┆ ns]       ┆           ┆           ┆ 4,8]      ┆           │
╞════════════╪════════════╪════════════╪═══════════╪═══════════╪═══════════╪═══════════╪═══════════╡
│ 817d18cd3c ┆ ffe2f9e58b ┆ 02c54fef44 ┆ 2021-11-3 ┆ 189bd9cc5 ┆ 12162f290 ┆ 118.88910 ┆ DEBITO    │
│ 31e40e9bff ┆ d12be2519e ┆ bb992b3066 ┆ 0         ┆ a482ad92b ┆ edcb3f1ea ┆ 024       ┆           │
│ 0566baae77 ┆ c01a5316d5 ┆ e69309cac6 ┆ 15:12:01  ┆ c2914e964 ┆ 3099502af ┆           ┆           │
│ …          ┆ …          ┆ …          ┆           ┆ 180…      ┆ 45f…      ┆           ┆           │
│ 817d18cd3c ┆ 6664a89801 ┆ 6535d7b0ce ┆ 2021-09-0 ┆ ee24335b8 ┆ f6c0b3857 ┆ 214.00038 ┆ DEBITO    │
│ 31e40e9bff ┆ 12440bf1f8 ┆ 4d316b8453 ┆ 4         ┆ 2d844439a ┆ e1687571c ┆ 044       ┆           │
│ 0566baae77 ┆ 331bc1b82d ┆ 59940ff9f5 ┆ 10:19:53  ┆ 70cc57376 ┆ b02d4e0dd ┆           ┆           │
│ …          ┆ …          ┆ …          ┆           ┆ 7bb…      ┆ 548…      ┆           ┆           │
│ 817d18cd3c ┆ 74dd0e180a ┆ aae6146fd7 ┆ 2021-08-1 ┆ 84f5a778a ┆ b11787c54 ┆ 118.88910 ┆ DEBITO    │
│ 31e40e9bff ┆ a75af3493b ┆ 9e095a4ae4 ┆ 6         ┆ ee4e740ad ┆ 390c86c2b ┆ 024       ┆           │
│ 0566baae77 ┆ ac9ea1d54b ┆ bf64d62e5a ┆ 12:10:15  ┆ 3198f3422 ┆ bb47995a2 ┆           ┆           │
│ …          ┆ …          ┆ …          ┆           ┆ 590…      ┆ 7b3…      ┆           ┆           │
└────────────┴────────────┴────────────┴───────────┴───────────┴───────────┴───────────┴───────────┘

In [3]:
# Ordenar por user y fecha
df_polars = df_polars.sort(["user_id", "transaction_date"]) 

df_polars.head()

shape: (5, 8)
┌────────────┬────────────┬────────────┬───────────┬───────────┬───────────┬───────────┬───────────┐
│ merchant_i ┆ _id        ┆ subsidiary ┆ transacti ┆ account_n ┆ user_id   ┆ transacti ┆ transacti │
│ d          ┆ ---        ┆ ---        ┆ on_date   ┆ umber     ┆ ---       ┆ on_amount ┆ on_type   │
│ ---        ┆ str        ┆ str        ┆ ---       ┆ ---       ┆ str       ┆ ---       ┆ ---       │
│ str        ┆            ┆            ┆ datetime[ ┆ str       ┆           ┆ decimal[2 ┆ str       │
│            ┆            ┆            ┆ ns]       ┆           ┆           ┆ 4,8]      ┆           │
╞════════════╪════════════╪════════════╪═══════════╪═══════════╪═══════════╪═══════════╪═══════════╡
│ 838a8fa992 ┆ ecba8ff3dc ┆ 1c9c7c96fc ┆ 2021-01-2 ┆ 3fadf4b28 ┆ 000002373 ┆ 29.722275 ┆ CREDITO   │
│ a4aa2fb5a0 ┆ 6593175188 ┆ d19d2063bb ┆ 6         ┆ 2c09463f1 ┆ d5835d0e5 ┆ 06        ┆           │
│ cf8b15b637 ┆ 301c8ae1ad ┆ 47e01c5df9 ┆ 18:29:08  ┆ 6c6ebcc21 ┆ 3b7872242 ┆           ┆           │
│ …          ┆ …          ┆ …          ┆           ┆ c83…      ┆ 407…      ┆           ┆           │
│ 838a8fa992 ┆ 55c4b353af ┆ 1c9c7c96fc ┆ 2021-02-2 ┆ 3fadf4b28 ┆ 000002373 ┆ 71.333460 ┆ CREDITO   │
│ a4aa2fb5a0 ┆ 003307c4ce ┆ d19d2063bb ┆ 3         ┆ 2c09463f1 ┆ d5835d0e5 ┆ 14        ┆           │
│ cf8b15b637 ┆ 801c9592c8 ┆ 47e01c5df9 ┆ 08:37:45  ┆ 6c6ebcc21 ┆ 3b7872242 ┆           ┆           │
│ …          ┆ …          ┆ …          ┆           ┆ c83…      ┆ 407…      ┆           ┆           │
│ 838a8fa992 ┆ f7a743f697 ┆ 1c9c7c96fc ┆ 2021-04-1 ┆ 3fadf4b28 ┆ 000002373 ┆ 23.777820 ┆ CREDITO   │
│ a4aa2fb5a0 ┆ 02e6ce0770 ┆ d19d2063bb ┆ 5         ┆ 2c09463f1 ┆ d5835d0e5 ┆ 04        ┆           │
│ cf8b15b637 ┆ 74a43550ac ┆ 47e01c5df9 ┆ 10:59:10  ┆ 6c6ebcc21 ┆ 3b7872242 ┆           ┆           │
│ …          ┆ …          ┆ …          ┆           ┆ c83…      ┆ 407…      ┆           ┆           │
│ 075d178871 ┆ d531b1fdca ┆ 24f755d1de ┆ 2021-03-1 ┆ 10e6890a8 ┆ 000004f4a ┆ 594.44550 ┆ CREDITO   │
│ d8d48502bf ┆ 8cf53ad205 ┆ 59e3983ebf ┆ 0         ┆ 6c790e6af ┆ 6f3ac93f4 ┆ 123       ┆           │
│ 1f54887e52 ┆ 25e6057632 ┆ af47f760cc ┆ 11:30:55  ┆ 17dc99f39 ┆ 54a5dc04b ┆           ┆           │
│ …          ┆ …          ┆ …          ┆           ┆ 1a6…      ┆ 2a2…      ┆           ┆           │
│ 817d18cd3c ┆ 3c5e7b1b15 ┆ 80a2ee4882 ┆ 2021-11-0 ┆ 10e6890a8 ┆ 000004f4a ┆ 178.33365 ┆ DEBITO    │
│ 31e40e9bff ┆ 5417152b9e ┆ 71394873b4 ┆ 5         ┆ 6c790e6af ┆ 6f3ac93f4 ┆ 037       ┆           │
│ 0566baae77 ┆ f87763eed1 ┆ f5d993ca99 ┆ 18:48:15  ┆ 17dc99f39 ┆ 54a5dc04b ┆           ┆           │
│ …          ┆ …          ┆ …          ┆           ┆ 1a6…      ┆ 2a2…      ┆           ┆           │
└────────────┴────────────┴────────────┴───────────┴───────────┴───────────┴───────────┴───────────┘

### Feature engineering

In [4]:
#crear columna date (día calendario)
df_polars = df_polars.with_columns(pl.col("transaction_date").dt.date().alias("date"))

agg_day = (
    df_polars.group_by(["user_id", "date"])
      .agg([
          pl.count("transaction_amount").alias("count_day"),
          pl.sum("transaction_amount").alias("sum_day"),
          pl.mean("transaction_amount").alias("mean_day"),
          pl.std("transaction_amount").alias("std_day"),
          pl.max("transaction_amount").alias("max_day")
      ])
)
agg_day.shape

(9214420, 7)

In [5]:
#  Número de transacciones por dia
agg_day.sort("count_day", descending=True).head(10)

shape: (10, 7)
┌─────────────────┬────────────┬───────────┬───────────────┬───────────┬───────────┬───────────────┐
│ user_id         ┆ date       ┆ count_day ┆ sum_day       ┆ mean_day  ┆ std_day   ┆ max_day       │
│ ---             ┆ ---        ┆ ---       ┆ ---           ┆ ---       ┆ ---       ┆ ---           │
│ str             ┆ date       ┆ u32       ┆ decimal[24,8] ┆ f64       ┆ f64       ┆ decimal[24,8] │
╞═════════════════╪════════════╪═══════════╪═══════════════╪═══════════╪═══════════╪═══════════════╡
│ 71aa1651d9adc0b ┆ 2021-02-07 ┆ 288       ┆ 6018.29227558 ┆ 20.896848 ┆ 44.253339 ┆ 237.77820049  │
│ 226107084fba3d7 ┆            ┆           ┆               ┆           ┆           ┆               │
│ …               ┆            ┆           ┆               ┆           ┆           ┆               │
│ e2d6158cc2b6467 ┆ 2021-02-02 ┆ 201       ┆ 1347.24890574 ┆ 6.702731  ┆ 7.65944   ┆ 92.96889861   │
│ a47223cb2629f03 ┆            ┆           ┆               ┆           ┆           ┆               │
│ …               ┆            ┆           ┆               ┆           ┆           ┆               │
│ 684202021037f20 ┆ 2021-01-20 ┆ 200       ┆ 1192.99624218 ┆ 5.964981  ┆ 0.252019  ┆ 9.51112801    │
│ 3f2f2258f5f1819 ┆            ┆           ┆               ┆           ┆           ┆               │
│ …               ┆            ┆           ┆               ┆           ┆           ┆               │
│ 01c2e0350f7d77f ┆ 2021-02-05 ┆ 200       ┆ 1189.37488023 ┆ 5.946874  ┆ 0.000971  ┆ 5.94802168    │
│ 4084502861b4989 ┆            ┆           ┆               ┆           ┆           ┆               │
│ …               ┆            ┆           ┆               ┆           ┆           ┆               │
│ 5e674596af22a66 ┆ 2021-02-10 ┆ 200       ┆ 2690.41515966 ┆ 13.452076 ┆ 10.43417  ┆ 59.44455012   │
│ e826bf15b2a363c ┆            ┆           ┆               ┆           ┆           ┆               │
│ …               ┆            ┆           ┆               ┆           ┆           ┆               │
│ 4677a8b53fc1ef1 ┆ 2021-02-12 ┆ 200       ┆ 1212.07437654 ┆ 6.060372  ┆ 1.156636  ┆ 17.83336503   │
│ e16007968cdfcb2 ┆            ┆           ┆               ┆           ┆           ┆               │
│ …               ┆            ┆           ┆               ┆           ┆           ┆               │
│ e77fc30bb3bec8b ┆ 2021-01-17 ┆ 200       ┆ 2634.17467079 ┆ 13.170873 ┆ 10.110278 ┆ 59.44455012   │
│ f45a35b535b2920 ┆            ┆           ┆               ┆           ┆           ┆               │
│ …               ┆            ┆           ┆               ┆           ┆           ┆               │
│ f578e090182426c ┆ 2021-02-16 ┆ 200       ┆ 1218.61327706 ┆ 6.093066  ┆ 2.101682  ┆ 35.66673007   │
│ d7196f66c0f77e9 ┆            ┆           ┆               ┆           ┆           ┆               │
│ …               ┆            ┆           ┆               ┆           ┆           ┆               │
│ f9a10e0f56a96d2 ┆ 2021-02-02 ┆ 200       ┆ 1188.89100200 ┆ 5.944455  ┆ 0.0       ┆ 5.94445501    │
│ 44feadda0194fcb ┆            ┆           ┆               ┆           ┆           ┆               │
│ …               ┆            ┆           ┆               ┆           ┆           ┆               │
│ ab2b8b5244e19c3 ┆ 2021-02-10 ┆ 200       ┆ 1959.23292645 ┆ 9.796165  ┆ 5.526331  ┆ 18.57047745   │
│ 02a09d825a15d11 ┆            ┆           ┆               ┆           ┆           ┆               │
│ …               ┆            ┆           ┆               ┆           ┆           ┆               │
└─────────────────┴────────────┴───────────┴───────────────┴───────────┴───────────┴───────────────┘

In [6]:
# Transacciones por dia en dinero
agg_day.sort("sum_day", descending=True).head(10)

shape: (10, 7)
┌───────────────┬────────────┬───────────┬───────────────┬─────────────┬────────────┬──────────────┐
│ user_id       ┆ date       ┆ count_day ┆ sum_day       ┆ mean_day    ┆ std_day    ┆ max_day      │
│ ---           ┆ ---        ┆ ---       ┆ ---           ┆ ---         ┆ ---        ┆ ---          │
│ str           ┆ date       ┆ u32       ┆ decimal[24,8] ┆ f64         ┆ f64        ┆ decimal[24,8 │
│               ┆            ┆           ┆               ┆             ┆            ┆ ]            │
╞═══════════════╪════════════╪═══════════╪═══════════════╪═════════════╪════════════╪══════════════╡
│ cfa366b65fa84 ┆ 2021-02-11 ┆ 38        ┆ 17559.1960717 ┆ 462.084107  ┆ 429.593394 ┆ 1188.8898135 │
│ 3bf78ca52f952 ┆            ┆           ┆ 4             ┆             ┆            ┆ 8            │
│ 4e12…         ┆            ┆           ┆               ┆             ┆            ┆              │
│ 0290610111640 ┆ 2021-10-07 ┆ 7         ┆ 17238.9195358 ┆ 2462.702791 ┆ 870.179112 ┆ 2972.2275061 │
│ c1d5b863240bb ┆            ┆           ┆ 4             ┆             ┆            ┆ 8            │
│ 81d3…         ┆            ┆           ┆               ┆             ┆            ┆              │
│ 22e351bd70fdb ┆ 2021-08-19 ┆ 5         ┆ 16050.0285333 ┆ 3210.005707 ┆ 0.0        ┆ 3210.0057066 │
│ 319bbc102f8de ┆            ┆           ┆ 5             ┆             ┆            ┆ 7            │
│ 27b7…         ┆            ┆           ┆               ┆             ┆            ┆              │
│ 7cac676a8d21f ┆ 2021-02-11 ┆ 28        ┆ 14887.8959005 ┆ 531.710568  ┆ 328.956469 ┆ 1188.8898135 │
│ 4fb7a66d4966d ┆            ┆           ┆ 5             ┆             ┆            ┆ 8            │
│ d3a1…         ┆            ┆           ┆               ┆             ┆            ┆              │
│ 1d46b2330c1fd ┆ 2021-02-11 ┆ 33        ┆ 14276.1924575 ┆ 432.611893  ┆ 259.020522 ┆ 598.01217424 │
│ f739c0c3fcc51 ┆            ┆           ┆ 5             ┆             ┆            ┆              │
│ 1f35…         ┆            ┆           ┆               ┆             ┆            ┆              │
│ c671cb272294b ┆ 2021-08-30 ┆ 11        ┆ 12007.7991249 ┆ 1091.618102 ┆ 218.045215 ┆ 1188.8910024 │
│ 914538f1f40b6 ┆            ┆           ┆ 4             ┆             ┆            ┆ 7            │
│ 2edd…         ┆            ┆           ┆               ┆             ┆            ┆              │
│ 7cac676a8d21f ┆ 2021-02-09 ┆ 35        ┆ 11978.0138385 ┆ 342.228967  ┆ 295.480751 ┆ 594.44550123 │
│ 4fb7a66d4966d ┆            ┆           ┆ 3             ┆             ┆            ┆              │
│ d3a1…         ┆            ┆           ┆               ┆             ┆            ┆              │
│ 56dee2f91dc3b ┆ 2021-11-17 ┆ 5         ┆ 11888.9100247 ┆ 2377.782005 ┆ 0.0        ┆ 2377.7820049 │
│ e62894d127160 ┆            ┆           ┆ 0             ┆             ┆            ┆ 4            │
│ fe25…         ┆            ┆           ┆               ┆             ┆            ┆              │
│ 8e09da7674c0e ┆ 2021-08-01 ┆ 9         ┆ 11888.9100246 ┆ 1320.990003 ┆ 649.673305 ┆ 2377.7820049 │
│ 15b6cc367b218 ┆            ┆           ┆ 9             ┆             ┆            ┆ 4            │
│ 58bc…         ┆            ┆           ┆               ┆             ┆            ┆              │
│ 1c9cd25a45ea8 ┆ 2021-07-01 ┆ 7         ┆ 11651.1318242 ┆ 1664.447403 ┆ 989.949591 ┆ 3091.1166064 │
│ edbe6b75094d7 ┆            ┆           ┆ 0             ┆             ┆            ┆ 2            │
│ b2f4…         ┆            ┆           ┆               ┆             ┆            ┆              │
└───────────────┴────────────┴───────────┴───────────────┴─────────────┴────────────┴──────────────┘

### Calcular percentiles y aplicar regla heurística bajo mi percepción del negocio

Estamos buscando usuarios que en un mismo día:

* Hacen muchas transacciones pequeñas (fraccionamiento).
* El total diario de dinero es alto (la suma sigue siendo grande).
* Pero cada transacción individual tiene un monto bajo (menor al promedio general).

In [7]:
# 1. Calcular percentiles globales (sobre agg_day)
p95_count = float(agg_day.select(pl.col("count_day")).quantile(0.95)[0,0]) # Número alto en transacciones
p25_mean  = float(agg_day.select(pl.col("mean_day")).quantile(0.25)[0,0]) # Montos medios en transacciones por dia
p90_sum   = float(agg_day.select(pl.col("sum_day")).quantile(0.90)[0,0]) # Sumas altas de transacciones individuales por dia

p95_count, p25_mean, p90_sum

(2.0, 47.55564009, 594.44550123)

In [8]:
# 2. Aplicar reglas
agg_day = agg_day.with_columns([
    (pl.col("count_day") >= p95_count).alias("high_count"),
    (pl.col("mean_day") <= p25_mean).alias("low_mean"),
    (pl.col("sum_day") >= p90_sum).alias("high_sum")
])

agg_day = agg_day.with_columns(
    (pl.col("high_count") & pl.col("low_mean") & pl.col("high_sum")).alias("flag_heuristic")
)

# 3. Ver top sospechosos por conteo
heur_suspects = agg_day.filter(pl.col("flag_heuristic") == True).sort("count_day", descending=True)
heur_suspects.select(["user_id","date","count_day","sum_day","mean_day"]).head(10)

shape: (10, 5)
┌─────────────────────────────────┬────────────┬───────────┬───────────────┬───────────┐
│ user_id                         ┆ date       ┆ count_day ┆ sum_day       ┆ mean_day  │
│ ---                             ┆ ---        ┆ ---       ┆ ---           ┆ ---       │
│ str                             ┆ date       ┆ u32       ┆ decimal[24,8] ┆ f64       │
╞═════════════════════════════════╪════════════╪═══════════╪═══════════════╪═══════════╡
│ 71aa1651d9adc0b226107084fba3d7… ┆ 2021-02-07 ┆ 288       ┆ 6018.29227558 ┆ 20.896848 │
│ e2d6158cc2b6467a47223cb2629f03… ┆ 2021-02-02 ┆ 201       ┆ 1347.24890574 ┆ 6.702731  │
│ 684202021037f203f2f2258f5f1819… ┆ 2021-01-20 ┆ 200       ┆ 1192.99624218 ┆ 5.964981  │
│ 01c2e0350f7d77f4084502861b4989… ┆ 2021-02-05 ┆ 200       ┆ 1189.37488023 ┆ 5.946874  │
│ 5e674596af22a66e826bf15b2a363c… ┆ 2021-02-10 ┆ 200       ┆ 2690.41515966 ┆ 13.452076 │
│ 4677a8b53fc1ef1e16007968cdfcb2… ┆ 2021-02-12 ┆ 200       ┆ 1212.07437654 ┆ 6.060372  │
│ e77fc30bb3bec8bf45a35b535b2920… ┆ 2021-01-17 ┆ 200       ┆ 2634.17467079 ┆ 13.170873 │
│ f578e090182426cd7196f66c0f77e9… ┆ 2021-02-16 ┆ 200       ┆ 1218.61327706 ┆ 6.093066  │
│ f9a10e0f56a96d244feadda0194fcb… ┆ 2021-02-02 ┆ 200       ┆ 1188.89100200 ┆ 5.944455  │
│ ab2b8b5244e19c302a09d825a15d11… ┆ 2021-02-10 ┆ 200       ┆ 1959.23292645 ┆ 9.796165  │
└─────────────────────────────────┴────────────┴───────────┴───────────────┴───────────┘

In [9]:
agg_day

shape: (9_214_420, 11)
┌────────────┬───────────┬───────────┬───────────┬───┬───────────┬──────────┬──────────┬───────────┐
│ user_id    ┆ date      ┆ count_day ┆ sum_day   ┆ … ┆ high_coun ┆ low_mean ┆ high_sum ┆ flag_heur │
│ ---        ┆ ---       ┆ ---       ┆ ---       ┆   ┆ t         ┆ ---      ┆ ---      ┆ istic     │
│ str        ┆ date      ┆ u32       ┆ decimal[2 ┆   ┆ ---       ┆ bool     ┆ bool     ┆ ---       │
│            ┆           ┆           ┆ 4,8]      ┆   ┆ bool      ┆          ┆          ┆ bool      │
╞════════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪══════════╪══════════╪═══════════╡
│ 3a56842f18 ┆ 2021-07-2 ┆ 1         ┆ 95.111280 ┆ … ┆ false     ┆ false    ┆ false    ┆ false     │
│ 1ce3ec1ef4 ┆ 1         ┆           ┆ 19        ┆   ┆           ┆          ┆          ┆           │
│ f0614fc20a ┆           ┆           ┆           ┆   ┆           ┆          ┆          ┆           │
│ …          ┆           ┆           ┆           ┆   ┆           ┆          ┆          ┆           │
│ ae0499ba2a ┆ 2021-10-2 ┆ 1         ┆ 23.777820 ┆ … ┆ false     ┆ true     ┆ false    ┆ false     │
│ 6605abf0f7 ┆ 8         ┆           ┆ 04        ┆   ┆           ┆          ┆          ┆           │
│ fe97f7aff2 ┆           ┆           ┆           ┆   ┆           ┆          ┆          ┆           │
│ …          ┆           ┆           ┆           ┆   ┆           ┆          ┆          ┆           │
│ d8f61ce32a ┆ 2021-01-1 ┆ 3         ┆ 17.833365 ┆ … ┆ true      ┆ true     ┆ false    ┆ false     │
│ f3bd7ce883 ┆ 0         ┆           ┆ 03        ┆   ┆           ┆          ┆          ┆           │
│ 1aa43a8ae7 ┆           ┆           ┆           ┆   ┆           ┆          ┆          ┆           │
│ …          ┆           ┆           ┆           ┆   ┆           ┆          ┆          ┆           │
│ 33f6a3f0d7 ┆ 2021-05-1 ┆ 1         ┆ 166.44474 ┆ … ┆ false     ┆ false    ┆ false    ┆ false     │
│ d8a42d462e ┆ 8         ┆           ┆ 034       ┆   ┆           ┆          ┆          ┆           │
│ 47a08b419b ┆           ┆           ┆           ┆   ┆           ┆          ┆          ┆           │
│ …          ┆           ┆           ┆           ┆   ┆           ┆          ┆          ┆           │
│ a74ff5c2bd ┆ 2021-06-0 ┆ 1         ┆ 118.88910 ┆ … ┆ false     ┆ false    ┆ false    ┆ false     │
│ bf1419dfb8 ┆ 6         ┆           ┆ 024       ┆   ┆           ┆          ┆          ┆           │
│ a106e8f7c5 ┆           ┆           ┆           ┆   ┆           ┆          ┆          ┆           │
│ …          ┆           ┆           ┆           ┆   ┆           ┆          ┆          ┆           │
│ …          ┆ …         ┆ …         ┆ …         ┆ … ┆ …         ┆ …        ┆ …        ┆ …         │
│ ced4287fe6 ┆ 2021-03-1 ┆ 1         ┆ 504.44645 ┆ … ┆ false     ┆ false    ┆ false    ┆ false     │
│ 5327e127f7 ┆ 3         ┆           ┆ 234       ┆   ┆           ┆          ┆          ┆           │
│ f56bb1a01d ┆           ┆           ┆           ┆   ┆           ┆          ┆          ┆           │
│ …          ┆           ┆           ┆           ┆   ┆           ┆          ┆          ┆           │
│ 1774e875cb ┆ 2021-02-0 ┆ 1         ┆ 11.888910 ┆ … ┆ false     ┆ true     ┆ false    ┆ false     │
│ 1f4cd84079 ┆ 6         ┆           ┆ 02        ┆   ┆           ┆          ┆          ┆           │
│ be7863c852 ┆           ┆           ┆           ┆   ┆           ┆          ┆          ┆           │
│ …          ┆           ┆           ┆           ┆   ┆           ┆          ┆          ┆           │
│ 0c40077d60 ┆ 2021-08-1 ┆ 1         ┆ 618.22332 ┆ … ┆ false     ┆ false    ┆ true     ┆ false     │
│ db5120d51b ┆ 2         ┆           ┆ 128       ┆   ┆           ┆          ┆          ┆           │
│ cb3039eaa0 ┆           ┆           ┆           ┆   ┆           ┆          ┆          ┆           │
│ …          ┆           ┆           ┆           ┆   ┆           ┆          ┆          ┆           │
│ 350a0bdf5e ┆ 2021-04-2 ┆ 1         ┆ 178.33365 ┆ … ┆ false     ┆ false    ┆ false    ┆ false     │
│ c5ec7b96b0 ┆ 1         ┆           ┆ 037       ┆   ┆           ┆          ┆          ┆           │
│ 899dbe8a65 ┆           ┆           ┆           ┆   ┆           ┆          ┆          ┆           │
│ …          ┆           ┆           ┆           ┆   ┆           ┆          ┆          ┆           │
│ a7fa8bc1c9 ┆ 2021-09-3 ┆ 1         ┆ 11.888910 ┆ … ┆ false     ┆ true     ┆ false    ┆ false     │
│ acded7f5e6 ┆ 0         ┆           ┆ 02        ┆   ┆           ┆          ┆          ┆           │
│ 0977810344 ┆           ┆           ┆           ┆   ┆           ┆          ┆          ┆           │
│ …          ┆           ┆           ┆           ┆   ┆           ┆          ┆          ┆           │
└────────────┴───────────┴───────────┴───────────┴───┴───────────┴──────────┴──────────┴───────────┘

Inspeccionar ejemplos: ver las transacciones concretas de usuarios sospechosos

In [10]:
# Elegir top 5 sospechosos para inspección
top_users = heur_suspects.select("user_id").unique().head(5).to_pandas()["user_id"].tolist()
top_users

['5e674596af22a66e826bf15b2a363cce',
 '6db2a61ce76075ef983a4826faa73f81',
 '328e7e1a0c72332e3011abf5d08a855a',
 '467376bcfd52781f39852c6acc988d28',
 'c47ee7710fa3e2212a917611bf70230c']

In [11]:
# Mostrar transacciones crudas de esos usuarios (ordenadas por fecha)
for u in top_users:
    print("=== User:", u, "===")
    user_tx = df_polars.filter(pl.col("user_id") == u).sort("transaction_date")
    display(user_tx.select(["transaction_date","transaction_amount","transaction_type","merchant_id"]).to_pandas().head(5))

=== User: 5e674596af22a66e826bf15b2a363cce ===

,transaction_date,transaction_amount,transaction_type,merchant_id
0,2021-01-26 16:07:12,5.94683279,CREDITO,838a8fa992a4aa2fb5a0cf8b15b63755
1,2021-01-26 16:07:22,5.94802168,CREDITO,838a8fa992a4aa2fb5a0cf8b15b63755
2,2021-01-26 16:10:05,5.94445501,CREDITO,838a8fa992a4aa2fb5a0cf8b15b63755
3,2021-01-26 16:10:08,5.94564390,CREDITO,838a8fa992a4aa2fb5a0cf8b15b63755
4,2021-01-26 16:10:23,5.94683279,CREDITO,838a8fa992a4aa2fb5a0cf8b15b63755

=== User: 6db2a61ce76075ef983a4826faa73f81 ===

,transaction_date,transaction_amount,transaction_type,merchant_id
0,2021-01-28 10:36:25,5.94683279,CREDITO,838a8fa992a4aa2fb5a0cf8b15b63755
1,2021-01-28 10:52:44,5.95039946,CREDITO,838a8fa992a4aa2fb5a0cf8b15b63755
2,2021-01-28 10:58:56,5.95039946,CREDITO,838a8fa992a4aa2fb5a0cf8b15b63755
3,2021-01-28 11:11:28,5.94445501,CREDITO,838a8fa992a4aa2fb5a0cf8b15b63755
4,2021-01-28 11:20:00,5.94683279,CREDITO,838a8fa992a4aa2fb5a0cf8b15b63755

=== User: 328e7e1a0c72332e3011abf5d08a855a ===

,transaction_date,transaction_amount,transaction_type,merchant_id
0,2021-01-31 13:37:24,5.94445501,DEBITO,838a8fa992a4aa2fb5a0cf8b15b63755
1,2021-01-31 14:00:40,5.94445501,DEBITO,838a8fa992a4aa2fb5a0cf8b15b63755
2,2021-01-31 15:14:12,5.94445501,DEBITO,838a8fa992a4aa2fb5a0cf8b15b63755
3,2021-01-31 15:57:12,5.94445501,DEBITO,838a8fa992a4aa2fb5a0cf8b15b63755
4,2021-01-31 16:04:27,5.94445501,DEBITO,838a8fa992a4aa2fb5a0cf8b15b63755

=== User: 467376bcfd52781f39852c6acc988d28 ===

,transaction_date,transaction_amount,transaction_type,merchant_id
0,2021-02-11 15:53:35,23.77782004,CREDITO,838a8fa992a4aa2fb5a0cf8b15b63755
1,2021-02-11 16:47:11,5.94445501,CREDITO,838a8fa992a4aa2fb5a0cf8b15b63755
2,2021-02-11 16:54:57,10.70001902,CREDITO,838a8fa992a4aa2fb5a0cf8b15b63755
3,2021-02-11 16:55:26,7.13334601,CREDITO,838a8fa992a4aa2fb5a0cf8b15b63755
4,2021-02-11 16:56:03,5.94445501,CREDITO,838a8fa992a4aa2fb5a0cf8b15b63755

=== User: c47ee7710fa3e2212a917611bf70230c ===

,transaction_date,transaction_amount,transaction_type,merchant_id
0,2021-01-09 13:12:40,89.16682518,DEBITO,075d178871d8d48502bf1f54887e52fe
1,2021-02-03 14:11:01,5.94445501,DEBITO,838a8fa992a4aa2fb5a0cf8b15b63755
2,2021-02-03 14:16:45,5.94445501,DEBITO,838a8fa992a4aa2fb5a0cf8b15b63755
3,2021-02-03 14:38:25,5.94445501,DEBITO,838a8fa992a4aa2fb5a0cf8b15b63755
4,2021-02-03 14:42:25,5.94445501,DEBITO,838a8fa992a4aa2fb5a0cf8b15b63755

### IsolationForest (no supervisado)

1. Preparar features (convertir agg_day a pandas)

In [3]:
agg_day = pl.read_parquet("..//data//processed//agg_day_with_flags.parquet")

In [4]:
features_pl = agg_day.select([
    "user_id","date","count_day","sum_day","mean_day","std_day","max_day"
])
features_pd = features_pl.to_pandas().fillna(0)
features_pd

,user_id,date,count_day,sum_day,mean_day,std_day,max_day
0,3a56842f181ce3ec1ef4f0614fc20acc,2021-07-21,1,95.11128019,95.111280,0.0,95.11128019
1,ae0499ba2a6605abf0f7fe97f7aff23c,2021-10-28,1,23.77782004,23.777820,0.0,23.77782004
2,d8f61ce32af3bd7ce8831aa43a8ae715,2021-01-10,3,17.83336503,5.944455,0.0,5.94445501
3,33f6a3f0d7d8a42d462e47a08b419bf1,2021-05-18,1,166.44474034,166.444740,0.0,166.44474034
4,a74ff5c2bdbf1419dfb8a106e8f7c519,2021-06-06,1,118.88910024,118.889100,0.0,118.88910024
...,...,...,...,...,...,...,...
9214415,ced4287fe65327e127f7f56bb1a01dae,2021-03-13,1,504.44645234,504.446452,0.0,504.44645234
9214416,1774e875cb1f4cd84079be7863c8522a,2021-02-06,1,11.88891002,11.888910,0.0,11.88891002
9214417,0c40077d60db5120d51bcb3039eaa0aa,2021-08-12,1,618.22332128,618.223321,0.0,618.22332128
9214418,350a0bdf5ec5ec7b96b0899dbe8a6531,2021-04-21,1,178.33365037,178.333650,0.0,178.33365037
9214419,a7fa8bc1c9acded7f5e60977810344d7,2021-09-30,1,11.88891002,11.888910,0.0,11.88891002

2. Entrenar IsolationForest

In [5]:
from sklearn.ensemble import IsolationForest
from sklearn.preprocessing import StandardScaler

X = features_pd[["count_day","sum_day","mean_day","std_day","max_day"]].astype(float)
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

model = IsolationForest(contamination=0.02, random_state=42, n_estimators=200)
model.fit(X_scaled)
features_pd["if_label"] = model.predict(X_scaled)        # -1 anomalía, 1 normal
features_pd["if_score"] = model.decision_function(X_scaled)  # mayor = más normal

* Obs: Se podria usar la base de datos sample_data_0007_part_00.parquet para predicción

In [7]:
# -1 = usuario anómalo o sospechoso
ml_suspects =  features_pd[features_pd["if_label"] == -1]

# Ordenar por puntaje de anomalía (menor score = más anómalo)
ml_suspects = ml_suspects.sort_values("if_score", ascending=True)

# Mostrar los top sospechosos
ml_suspects.head(10)[[
    "user_id", "date",
    "count_day", "sum_day", "mean_day",
    "std_day", "max_day", "if_score"
]]

,user_id,date,count_day,sum_day,mean_day,std_day,max_day,if_score
3363004,0290610111640c1d5b863240bb81d3b4,2021-10-07,7,17238.91953584,2462.702791,870.179112,2972.22750618,-0.152709
7315978,1c9cd25a45ea8edbe6b75094d7b2f458,2021-07-01,7,11651.13182420,1664.447403,989.949591,3091.11660642,-0.151574
7422437,8ded74c4bdac01be91dcd56e379d19d4,2021-10-12,6,9035.57161876,1505.928603,1227.881347,3091.11660642,-0.149875
8470248,a57bd17de30103e8415ea4cee68d0733,2021-10-26,9,11056.68632296,1228.520703,1129.446452,3210.00570667,-0.149309
2222084,dc3b0d7f51827bf098f15a3d53b64b93,2021-09-13,4,8678.90431803,2169.726080,1225.480795,3210.00570667,-0.148461
3119567,a68e6320a5082d0346139df6f65a348e,2021-11-25,5,9748.90622025,1949.781244,833.708491,3210.00570667,-0.148461
6235582,8c0f20e0e7c73940b7fe0b9b97dbd3cf,2021-07-01,4,8084.45881679,2021.114704,1250.692239,3091.11660642,-0.148179
1830447,415fa21168d1b303d147f3e6fb8b5e45,2021-10-19,6,8560.01521778,1426.669203,1105.093213,2853.33840593,-0.147897
3017507,1c61c27340a8b59f350c56f8f8dbf980,2021-03-28,4,8952.34924861,2238.087312,1108.004530,2972.22750618,-0.147614
606838,c5923c6836b1b6061202f5ccf42a3f50,2021-10-02,4,9630.01712000,2407.504280,938.019179,3210.00570667,-0.147614

### Guardar resultados

In [ ]:
# Guardar outputs (parquet) 7para dashboard


agg_day.write_parquet("..//data//processed//agg_day_with_flags.parquet")
heur_suspects.write_parquet("..//data//processed//heur_suspects_results.parquet")
features_pd.to_csv("..//data//processed//isolation_forest_results.csv")

# guardar artefactos
joblib.dump(model, os.path.join("..//models", "isolation_forest.joblib"))
joblib.dump(scaler, os.path.join("..//models", "scaler.joblib"))